{% extends "base.html" %}
{% load dict_ops%}
{% block header %}
<header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                &#128200;
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-black">Transactions</a></li>
                <li><a href="/holdings" class="nav-link px-2 text-black">Holdings</a></li>
                <li><a href="/dividends" class="nav-link px-2 text-black">Dividends</a></li>
                <li><a href="/analysis" class="nav-link px-2 text-secondary">Analysis</a></li>
                <li><a href="/watches" class="nav-link px-2 text-black">Watches</a></li>
            </ul>
        </div>
    </div>
</header>
{% endblock %}


{% block body %}
<div>
    <div class="row">
        <div class="col-sm-6 col-12">
            <h3 class="float-begin">Analysis</h3>
        </div>
        <div class="col-sm-6 col-12">
            <p class="float-end text-secondary">Market price updated @ {{market_price_update_time}}</p>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Holding Volume</th>
                <th scope="col">Cost per Share</th>
                <th scope="col">Market Price</th>
                <th scope="col">Market Value</th>
                <th scope="col">Total Dividend</th>
                <th scope="col">Return on Sell</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in holdings.items%}
            <tr>
                <th scope="row"><a href='/holding/{{key}}'>{{key}}</a></th>
                <td scope="">{{value}}</td>
                <td scope="">{{cost_per_share|get_item:key}}</td>
                <td scope="">{{current_prices|get_item:key}}</td>
                <td scope="">{{market_value|get_item:key}}</td>
                <td scope="">{{total_dividend|get_item:key}}</td>
                <td scope="">{{return_on_sell|get_item:key}}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="row">
    <div class="col-sm-6 col-12">
        <h4 class="float-begin">Internal Return Rate</h4>
        <canvas id="myChart1" width="400" height="200"></canvas>
        <script>
            var standard = 0
            var ctx = document.getElementById('myChart1').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{%for key, value in xirr_of_holdings %} '{{key}}',{% endfor %}],
            datasets: [{
                label: 'XIRR',
                data: [{%for key, value in xirr_of_holdings %} '{{value}}', {% endfor %}],
                fill: true,
                backgroundColor: '#7DCEA0',
                            }]
                        },

            options: {
                responsive: true,
                    plugins: {
                    legend: {
                        display: false,
                        position: 'top',
                    },
                    title: {
                        display: false,
                            text: 'Chart.js Bar Chart'
                    }
                }
            },
                });
        </script>
    </div>
    <div class="col-sm-6 col-12">
        <h4 class="float-begin">Total Return - W/O Bonus stock</h4>
        <canvas id="myChart2" width="400" height="200"></canvas>
        <script>
            var standard = 0
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{%for key, value in return_on_sell_list %} '{{key}}',{% endfor %}],
            datasets: [{
                label: 'XIRR',
                data: [{%for key, value in return_on_sell_list %} '{{value}}', {% endfor %}],
                fill: true,
                backgroundColor: '#7DCEA0',
                            }]
                        },

            options: {
                responsive: true,
                    plugins: {
                    legend: {
                        display: false,
                        position: 'top',
                    },
                    title: {
                        display: false,
                            text: 'Chart.js Bar Chart'
                    }
                },
                scales: {
                    y: {
                        type: 'linear',
                    }
                }
            },
                });
        </script>
    </div>
</div>

{% endblock %}