{% extends "base.html" %}
{% load math_ops %}
{% block header %}
<header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                &#128200;
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-black">Transactions</a></li>
                <li><a href="/holdings" class="nav-link px-2 text-black">Holdings</a></li>
                <li><a href="/dividends" class="nav-link px-2 text-secondary">Dividends</a></li>
                <li><a href="/analysis" class="nav-link px-2 text-black">Analysis</a></li>
                <li><a href="/watches" class="nav-link px-2 text-black">Watches</a></li>
            </ul>
        </div>
    </div>
</header>
<script>
    {% autoescape off %}
    window.holdings = JSON.parse('{{ticker_holding_vol}}');
    {% endautoescape %}

    function gross_per_share_calculate(amount) {

        var obj_ticker = document.getElementsByName("ticker")[0];
        var ticker = obj_ticker.options[obj_ticker.selectedIndex].value;
        var gross_per_share = parseFloat(amount.value) / holdings[ticker]["vol"];
        var obj_gps = document.getElementsByName("gross_per_share");
        obj_gps[0].value = (gross_per_share.toFixed(2)).toString();
    }
</script>
{% endblock %}
{% block body %}
<div>
    <div>
        <div>
            <h3>Add a new dividend</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <form action="{% url 'submit a dividend record' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div class="mb-3">
                            <label>Ticker</label>
                            <select class="form-select" name="ticker">
                                {% for ticker in all_tickers %}
                                <option value="{{ticker.id}}">{{ticker.ticker}}</option>
                                {% endfor %}
                                <option value="-1">Add a new product ... </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>Amount</label>
                            <input type="text" name="amount" class="form-control" onchange="gross_per_share_calculate(this)" placeholder="Amount, default currency is USD e.g 17.8">
                        </div>
                        <div class="mb-3">
                            <label>Gross per Share</label>
                            <input type="text" name="gross_per_share" class="form-control" placeholder="Gross per Share, default currency is USD e.g. 0.66">
                        </div>
                        <div class="mb-3">
                            <label>Transaction date</label>
                            <input type="date" name="date" class="form-control" placeholder="Volume, e.g. 66">
                        </div>
                    </fieldset>
                    <div>
                        <input class="btn btn-primary btn-sm" type="submit" value="Submit">
                        </input>
                    </div>
                </form>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
</div>
{% endblock %}