{% extends "base.html" %}
{% load math_ops %}
{% block header %}
<header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                &#128200;
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-black">Transactions</a></li>
                <li><a href="/holdings" class="nav-link px-2 text-secondary">Holdings</a></li>
                <li><a href="/dividends" class="nav-link px-2 text-black">Dividends</a></li>
                <li><a href="/analysis" class="nav-link px-2 text-black">Analysis</a></li>
                <li><a href="/watches" class="nav-link px-2 text-black">Watches</a></li>
            </ul>
        </div>
    </div>
</header>
{% endblock %}
{% block body %}
<div class="container">
    <a href="/dividends" role="button" class="btn btn-outline-primary btn-sm">
        <i class="bi bi-arrow-left-square">
        </i>
        Back to all dividends
    </a>
    <div class="row">
        <div class="col-sm-10 col-12">
            <h3 class="float-begin">{{ticker.product_name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ticker</th>
                        <th scope="col">Value</th>
                        <th scope="col">Gross per Share</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dividend in dividends %}
                    <tr>
                        <th scope="row"><a href='/div/{{dividend.id}}'>{{dividend.id}}</a></th>
                        <td scope="">{{dividend.ticker}}</td>
                        <td scope="">{{dividend.amount}}</td>
                        <td scope="">{{dividend.gross_per_share}}</td>
                        <td scope="">{{dividend.div_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Total Dividend</a></th>
                            <td scope="">$ {{total_dividend}}</th>
                        </tr>
                        <tr>
                            <th scope="row">Average Gross per Share</th>
                            <td scope="">$ {{average_gross}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [{%for date, gross in gross_changes%} '{{date}}',{%endfor%}],
                        datasets: [{
                            label: '{{ticker.ticker}}',
                            data: [{%for date, gross in gross_changes%} '{{gross}}',{%endfor%}],
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }]
                    },

                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>
</div>

{% endblock %}