{% extends "base.html" %}
{% load math_ops %}
{% block header %}
<header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                &#128200;
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-black">Transactions</a></li>
                <li><a href="/holdings" class="nav-link px-2 text-black">Holdings</a></li>
                <li><a href="/dividends" class="nav-link px-2 text-secondary">Dividends</a></li>
                <li><a href="/analysis" class="nav-link px-2 text-black">Analysis</a></li>
                <li><a href="/watches" class="nav-link px-2 text-black">Watches</a></li>
            </ul>
        </div>
    </div>
</header>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-12">
            <h3 class="float-begin">Dividends</h3>
        </div>
        <div class="col-sm-2 col-12">
            <a href="/div_addrecord" class="btn btn-primary btn-sm float-end" role="button"><i class="bi bi-file-plus"></i>
                Add</a>
        </div>
    </div>
    <div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ticker</th>
                    <th scope="col">Value</th>
                    <th scope="col">Gross per Share</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for dividend in dividends %}
                <tr>
                    <th scope="row"><a href='/div/{{dividend.id}}'>{{dividend.id}}</a></th>
                    <td scope=""><a href='/div_by_ticker/{{dividend.ticker}}'>{{dividend.ticker}}</a></td>
                    <td scope="">{{dividend.amount}}</td>
                    <td scope="">{{dividend.gross_per_share}}</td>
                    <td scope="">{{dividend.div_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}